<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>

  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div style="text-align: center;">

  <h1>Excel Download</h1>

  <div style="display: inline-flex;">
    <form action="/excel/download" method="get">
      <button type="submit" style="padding: 15px; margin: 15px;">Excel-V1</button>
    </form>


    <form action="/article/excel" method="post">
      <input type="text" name="date" id="datePicker" class="date">
      <button type="submit" style="padding: 15px; margin: 15px;">EXCEL</button>
    </form>


    <form action="/add" method="get">
      <button type="submit" style="padding: 15px; margin: 15px;">게시글 추가</button>
    </form>
  </div>

  <table>
    <thead>
    <tr>
      <th>num</th>
      <th>title</th>
      <th>content</th>
      <th>createAt</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="i : ${list}">
      <td th:text="${i.idx}">idx</td>
      <td th:text="${i.title}">title</td>
      <td th:text="${i.content}">content</td>
      <td th:text="${#temporals.format(i.created_at, 'yyyy-MM-dd HH:mm')}">createAt</td>
    </tr>
    </tbody>
  </table>

  <script src="/js/comm.js"></script>

</div>

</body>
</html>